<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="card card-default col-md-10">
                <div class="card-body">
                  <div>
                    <step-progress :steps="mySteps" :current-step="currentStep"></step-progress>
                  </div>
                  <div class="forms form-one" v-if="currentStep == 0">
                    <h3> Welcome to wunder signin</h3>
                    <p>This is done in vue.js</p>
                    <div class="btn-group">
                      <button type="button" class="btn btn-default" disabled @click="goToPrevious()">Back</button>
                      <button type="button" class="btn btn-primary" @click="goToNext()">Next</button>
                    </div>
                  </div>
                  <div class="forms form-one" v-if="currentStep == 1">
                    <label>Firstname</label>
                    <input v-model="firstName" type="text" name="first_name" class="form-control">
                    <label>Lastname</label>
                    <input v-model="lastName" type="text" name="last_name" class="form-control">
                    <label>Telephone Number</label>
                    <input v-model="telephoneName" type="tel" name="telephone" class="form-control">

                    <br>

                    <div class="btn-group">
                      <button type="button" class="btn btn-default" @click="goToPrevious()">Back</button>
                      <button type="button" class="btn btn-primary" @click="goToNext()">Next</button>
                    </div>
                  </div>
                  <div class="forms form-two" v-if="currentStep == 2">

                    <label>Street Name</label>
                    <input v-model="streetName" type="text" name="street_name" class="form-control">
                    <div class="row">
                      <div class="col-md-6">
                        <label>House Number</label>
                        <input v-model="houseNumber" type="text" name="house_number" class="form-control">
                      </div>
                      <div class="col-md-6">
                        <label>Zip Code</label>
                        <input v-model="zipCode" type="text" name="zip_code" class="form-control">
                      </div>
                    </div>
                    <label>City</label>
                    <input v-model="city" type="text" name="city" class="form-control">

                    <br>

                    <div class="btn-group">
                      <button type="button" class="btn btn-default" @click="goToPrevious()">Back</button>
                      <button type="button" class="btn btn-primary" @click="goToNext()">Next</button>
                    </div>
                  </div>
                  <div class="forms form-three" v-if="currentStep == 3">
                    <label>Owner</label>
                    <input v-model="owner" type="text" name="owner" class="form-control">
                    <label>IBAN</label>
                    <input v-model="iban" type="text" name="iban" class="form-control">

                    <br>

                    <div class="btn-group">
                      <button type="button" class="btn btn-default" @click="goToPrevious()">Back</button>
                      <button type="button" class="btn btn-success" @click="finish()">Finish</button>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  import StepProgress from 'vue-step-progress';
  export default {
    components: {
      'step-progress': StepProgress
    },
    data() {
      return {
        mySteps: ['Details', 'Address', 'Billing'],
        currentStep: 0,
        firstName: '',
        lastName: '',
        telephoneName: '',
        owner: '',
        iban: '',
        streetName: '',
        city: '',
        houseNumber: '',
        zipCode: ''
      }
    },
    methods: {
      goToNext() {
        this.currentStep++
      },
      goToPrevious() {
        this.currentStep--
      },
      finish(){
        console.log(this.iban)
      }
    }
  }
</script>
<style media="screen">
  .forms {
    margin-left: 30px;
    margin-top: 50px;
    padding-left: 10px;
    border-left: 5px solid #ccc;
  }
</style>
